$kristal-dark-grey-80: #1f1f1f;
$kristal-dark-grey-60: #363636;
$kristal-dark-grey-40: #777777;
$kristal-dark-grey-20: #999999;
$kristal-dark-grey-10: #cccccc;
$kristal-ecru-100: #f0ede4;
$kristal-ecru-80: #f7f5f2;
$kristal-blue-80: #3761c8;
$kristal-blue-60: #638ae9;
$kristal-white: #ffffff;
$kristal-black: #000000;
$kristal-equity: #5c59dc;
$kristal-commodities: #5786ff;
$kristal-fixed-income: #cd82fb;
$kristal-reits: #ffabce;
$kristal-alternatives: #ffd78a;
